*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main {
    width: auto;
    height: auto;
    background-image: url(images/header-bg.jpeg);
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    border-bottom: 2px solid gold;
}

.heder-main-box {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header-logo {
    width: 35%;
    align-items: center;
    margin-top: 18px;
}

.header-social-media {
    width: 35%;
    margin-top: 25px;
}

.header-logo img {
    max-width: 100%;
}

.header-social-media nav ul {
    list-style: none;
    display: flex;
    float: right;
}

.header-social-media nav ul li a {
    text-decoration: none;
    color: wheat;
    margin-left: 19px;
    font-size: 20px;
}


.phone-number li a {
    color: wheat;
    text-decoration: none;
    text-align: right;
}

.phone-number li {
    list-style: none;
    text-align: right;
}

.phone-number {
    margin-top: 37px;
    margin-bottom: 13px;
}

.header-social-media nav ul li {
    text-align: right;
}



.dropdown-menu-box {
    width: auto;
    height: auto;
    background: #132634;
}

.dropdown-menu {
    width: 1200px;
    height: auto;
    margin: auto;
    passi
}

.dropdown-menu nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

}

.dropdown-menu nav ul li a {
    text-decoration: none;
    color: white;
}

.dropdown-menu nav ul li {
    position: relative;
}

.dropdown-menu nav ul li:hover .sub-menu {
    color: gold;
    display: block;
    list-style: none;
    width:max-content;
    background-color:  #132634;
    z-index: 999;
    padding: 5px;
}


.dropdown-menu nav ul li ul {
    position: absolute;
}

ul.sub-menu li {
    width: max-content;
}

ul.sub-menu li {
    width: max-content;
    margin-top: 15px;
    margin-bottom: 15px;
}



ul.sub-menu {
    display: none;
    list-style: none;
 }


 .slider-box {
    width: auto;
    margin: auto;
    height: auto;
}

.sliderimagetext{
    position: relative;

}

.bx-wrapper,
.slidermain {
    height: auto;
    margin: auto;
    width: auto;
}

.slidertext h1 {
    text-align: center;
    font-size: 300px !important; 
    margin: 10px;     
}

.slidertext {
    position: absolute;
    bottom: 0px;
    left: 0;
    color: wheat;
    background-color: rgba(0,0, 0, .5);
    width: 100%;
}

.bx-wrapper,
.slidermain img {
    width: 100%;
}



.featured-main {
    margin: auto;
    width: auto;
    height: auto;
    background-image: url(images/body-bg.jpg);
}


.featured-image-text-main {
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.featured-image-text {
    width: 22%;
    height: auto;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    background: #b9a5a5;
}

.featured-image img {
    max-width: 100%;
}

.featured-image {
    width: 100%;
    height: 269px;
}


.featured-text {
    width: 1200px;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 40px;
}

.featured-text h1 {
    font-size: 45px;
    text-align: center;
}


.featured-text-part {
    position: absolute;
    bottom: 22px;
    background-color: rgba(0,0,0, .5);
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: white;
    padding-left: 13px;
    padding-bottom: 8px;
}


.featured-text-part .read-more {
    text-decoration: none;
    font-size: 30px;
    color: wheat;
    padding-top: 15px;
}




.featured-text-part h2 {
    margin-bottom: 22px;
}


button.read {
    padding: .5em 1em;
    background: #b34e4e;
    border: none;
    border-radius: 1000px;
    font-family: serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, black, transparent);
    z-index:1;
}


.featured-text-part>a>button {
    text-decoration: none;
    color: wheat;
    font-size: 17px;
}



button.read::after {
    content: ' ';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
}

button.read:hover {
    z-index: 0;
    box-shadow: 20px 0 100px gold, -20px 0 100px gold;
}

.all-news {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.all-news a {
    text-decoration: none;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 7px #d4af37;
    backdrop-filter: blur(10px);
    border-radius: 13px;
    padding: 8px 15px;
    color: #fff;
    text-decoration: none;
}



.useful-news {
    width: auto;
    margin: auto;
    height: auto;
    background-image: url(images/useful-links-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.useful-text {
    height: 5px;
    width: 1200px;
    color: wheat;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
}


.useful-link a {
    text-align: center;
    text-decoration: none;
    color: black;
    
}

.useful-link nav ul {
    list-style: none;
    justify-content: space-between;
    
}


.wellcome {
    width: auto;
    height: auto;
    background-image: url(images/about-us-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 20px;
}


.wellcome-text {
    width: 1200px;
    margin: auto;
    height: auto;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
}


.wellcome-text h1 {
    text-align: center;
    margin-bottom: 14px;
}

.wellcome-text p {
    font-size: 19px;
}

.wellcome-readmore {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 12vh;
    align-items: center;
}

button.btn {
    height: 3rem;
    width: 9rem;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    border: none;
    box-shadow: 0px 2px 8px goldenrod;
}

button.btn a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

button.btn::before {
    content: '';
    width: 0;
    height: 3px;
    border-radius: 30px;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, black, transparent);
    transition: 0.5s;
    z-index: -1;
}


button.btn: hover::before {
    width: 9px;
}

.wellcome-readmore button {
    font-size: 20px;
    font-weight: bold;
}



.footer-main {
    width: auto;
    height: auto;
    background:     #132634;
    margin-top: 50px;
    padding-bottom: 25px;
}

.footer-main-box {
    width: 800px;
    height: auto;
    margin: auto;
    padding-top: 1px;
}

.footer-logo img {
    max-width: 100%;
    margin-top: 50px;
    display: block;
}

.footer-logo {
    margin: auto;
    margin-bottom: 30px;
}


.footer-social-media nav ul li {
    align-items: none;
}

.footer-social-media nav ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 30px;
    margin: 15px;
    font-size: 40px;
}

.footer-social-media>nav>ul {
    display: flex;
    justify-content: center;
}


.footer-social-media nav ul li {
    list-style: none;
    display: block;

}


.footer-social-media nav ul li {
    display: block;
}


.footerapp01 {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.footerapp01 img {
    max-width: 100%;
}

.footer-app {
    display: flex;
    justify-content: center;
}

.footer-address h2 {
    color: wheat;
    text-align: center;
    margin-bottom: 25px;
}

.copyright h3 {
    color: wheat;
    text-align: center;
    margin-top: 40px;
}

.footer-address {
    border-bottom: 3px solid gold;
}

